* {
    box-sizing: border-box;
}

html {
    font-family: Lato-Regular;
    color: #292929;
}


/**** BASE ****/

body {
    margin: 0;
    height: 100vh;
}

canvas {
    background-color: #f3f3f3;
    margin: 0;
}

button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: center;
    border: none;
    background: #ffffff;
    text-transform: capitalize;
    font-size: 1rem;
    border: 1px solid #c7c5c5;
    border-radius: 0;
}

a {
    text-decoration: none;
}

option.font-select {
    font-weight: bold;
}


/**** Fonts ****/

@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}


/**  Main content **/

.container {
    max-width: 980px;
    margin: 0 auto;
}

.main-header {
    background-color: #292929;
}

.main-header .logo {
    font-family: Poppins;
    font-size: 2rem;
    text-transform: capitalize;
    color: #ffffff;
    height: 80px;
    padding-top: 20px;
}

.main-header li {
    background-color: #292929;
    border-left: 1px solid #1e1e1e;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.main-header li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    font-family: Lato-Bold;
    text-transform: capitalize;
    width: 80px;
    height: 80px;
}

#myCanvas {
    border: 7px solid rgba(255, 255, 255, 15%);
}

.canvas-container {
    height: 100%;
    margin: 0 auto;
    grid-column: 1/5;
    /* display: none; */
    background-color: rgb(135, 250, 196);
}


/*** Gallery ***/

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5em, 1fr));
    grid-gap: 1.6em;
    text-align: center;
}

.gallery img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}


/** search bar **/

.search-bar {
    background-color: rgb(195, 218, 218);
    height: 4rem;
}

.search-line {
    padding: 0.8rem;
    width: 400px;
}

.search {
    /* padding: 0.6rem; */
    padding-top: 0.6rem;
}


/**** Meme-editor ****/

.meme-editor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    align-items: center;
    background-color: lightblue;
    /* display: none; */
}

.control-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightcoral;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    border-radius: 1rem;
    grid-column: 6/13;
    margin-right: 30px;
    /* height: 80%; */
    /* height: 400px; */
}

.btn-changes {
    /* width: 3rem;
    height: 3rem; */
    padding: 0.8rem;
    border-radius: 1.25rem;
}

*:focus {
    outline: none;
}

.control-box .line-edit {
    display: block;
    height: calc(1.5em + .75rem - 2px);
    padding: .375rem .75rem;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5;
    color: #22252c;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.line-edit {
    /* width: 300px; */
    padding: 10px;
    text-align: center;
    border-radius: 1rem;
}

.font-select {
    padding: 10px;
    border-radius: 0.81rem;
    width: 120px;
}

.main-footer {
    height: 200px;
    background-color: lightgrey;
}

.footer {
    height: 80%;
    background-color: lightpink;
}


/**** List-helpers ****/

.clean-list {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/**** Flex Helpers ****/

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.stretch {
    align-content: stretch;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}


/**** editor-Helpers ****/

.margin-top {
    margin-top: 0.8rem;
}

@media (max-width: 980px) {
    .meme-aditor>div {
        width: 50%;
    }
    /* .editor-controls .editor-control {
        font-size: 1.3em !important;
    } */
    /* .font-controls .sqr-btn {
        font-size: 1.3em;
        width: 1.75em;
        height: 1.75em;
    } */
}

@media (max-width: 980px) {
    .container {
        max-width: 740px;
    }
}

@media (max-width: 740px) {
    .container {
        max-width: 100%;
    }
    .meme-aditor {
        grid-auto-flow: column;
    }
    .meme-aditor>div {
        width: 60%;
        font-size: 0.5rem;
    }
    .canvas-container {
        min-width: 40%;
        min-height: 40%;
        grid-auto-rows: minmax(3, 1fr);
    }
    nav {
        padding-left: 2em;
        padding-right: 2em;
    }
    .nav-tabs-container ul li {
        margin-right: 0em;
    }
}