* {
    box-sizing: border-box;
}

html {
    font-family: Lato-Regular;
    color: #292929;
}


/**** BASE ****/

body {
    margin: 0;
    height: 100vh;
}

canvas {
    width: 100%;
    background-color: #f3f3f3;
    margin: 0;
}

button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    text-align: center;
    border: none;
    background: #ffffff;
    text-transform: capitalize;
    font-size: 1rem;
    border: 1px solid #c7c5c5;
    border-radius: 0;
}

a {
    text-decoration: none;
}

option.font-select {
    font-weight: bold;
}

img {
    cursor: pointer;
}


/**** Fonts ****/

@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}


/**  Main content **/

.container {
    max-width: 980px;
    margin: 0 auto;
}

.main-header {
    background-color: #292929;
}

.main-header .logo {
    font-family: Poppins;
    font-size: 2rem;
    text-transform: capitalize;
    color: #ffffff;
    height: 80px;
    padding-top: 20px;
}

.main-header li {
    background-color: #292929;
    border-left: 1px solid #1e1e1e;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.main-header li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    font-family: Lato-Bold;
    text-transform: capitalize;
    width: 80px;
    height: 80px;
}

.main-header li a:hover {
    background-color: #4b4b4b;
}

.main-nav li:last-child {
    border-right: 1px solid #1e1e1e;
}

.main-header .logo {
    cursor: pointer;
}

#my-canvas {
    border: 7px solid rgb(194, 191, 191);
}

.canvas-container {
    /* height: 100%; */
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    /* grid-column: 1/5; */
}

.download-btn a {
    width: 100%;
    height: 100%;
}


/*** Gallery ***/

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5em, 1fr));
    grid-gap: 1.6em;
    text-align: center;
}

.gallery img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.nav-item a {
    transition: 2s;
}


/** search bar **/

.search-bar {
    background-color: #c3dada;
    height: 4rem;
}

.search-line {
    padding: 0.8rem;
    width: 30rem;
}

.search {
    padding-top: 0.6rem;
}

.keywords {
    height: 100%;
    line-height: 3.5rem;
    text-align: center;
    font-family: Lato-Bold;
    font-size: 1.3rem;
    width: 400px;
}


/**** Meme-editor ****/

.meme-editor {
    width: 100%;
    align-content: space-between;
    /* display: grid;

/* align-items: center; */
    background-color: rgb(240, 240, 240);
}

.control-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #c3dada;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    width: 40%;
    margin: 0 auto;
    /* grid-column: 6/13;

/* height: 80%; */
}

.my-img {
    width: 200px;
    border-radius: 120px;
    outline: none;
}

.social-footer .fab {
    text-align: center;
    font-size: 100%;
    width: 50px;
    height: 50px;
    /* background-color: #e5e5e5; */
    color: #282828;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #c3dada;
    margin: 0.2rem;
}

.social-footer .fab:hover {
    background-color: #95dada;
    color: #ffffff;
}

.btn-changes {
    padding: 0.8rem;
}

*:focus {
    outline: none;
}

.control-box .line-edit {
    width: 100%;
    height: calc(1.5em + .75rem - 2px);
    padding: .375rem .75rem;
    font-size: 1.5em;
    background-color: #99d6d6;
    color: #292929;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.line-edit {
    padding: 10px;
    text-align: center;
}

.font-select {
    padding: 0.81rem;
    width: 120px;
}

.btn-changes .fab {
    color: #292929;
}

.social-container {
    margin: 0 auto;
    height: 300px;
}

.social-footer {
    justify-content: center;
    width: 30%;
}

.main-footer {
    color: #ffffff;
    background-color: #292929;
    text-align: left;
    margin: 0 auto;
}

.end-footer {
    background-color: rgb(233, 233, 233);
    width: 100%;
    padding: 1rem;
    color: #292929;
}

.my-info h3 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}


/** Mobile **/

.screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s;
}


/* Buttons */

.mobile-menu-btn {
    color: #ffffff;
    width: 50px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    margin-right: 10px;
    border: 1px solid #ffffff;
    cursor: pointer;
    font-size: 18px;
}

.mobile-menu-close {
    color: #ffffff;
    font-weight: bold;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin-right: 10px;
    border: 1px solid #ffffff;
    cursor: pointer;
    font-size: 18px;
    text-transform: capitalize;
}


/**** List-helpers ****/

.clean-list {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/**** Flex Helpers ****/

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.stretch {
    align-content: stretch;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}


/**** editor-Helpers ****/

.margin-top {
    margin-top: 0.8rem;
}

@media (max-width: 940px) {
    .container {
        max-width: 800px;
    }
    .canvas-container #my-canvas img {
        width: 20rem;
        height: 20rem;
    }
    html {
        font-size: 14px;
    }
    h2 {
        margin-block-start: 0em;
        align-content: space-around;
        font-size: 1.5rem;
    }
    .control-box {
        width: 101%;
    }
    .meme-editor {
        flex-direction: column;
        width: 50%;
    }
    .main-header .logo {
        margin-inline-end: 20px;
    }
    .social-container {
        text-align: center;
        height: 300px;
        flex-direction: column;
    }
    .my-img {
        width: 150px;
        border-radius: 120px;
        outline: none;
        display: inline-block;
    }
    .my-info h3 {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
}

@media(min-width: 740px) {
    .mobile-menu-btn {
        display: none;
    }
}

@media (max-width: 740px) {
    html {
        font-size: 12px;
    }
    .container {
        max-width: 400px;
    }
    .canvas-container {
        width: 20rem;
        height: 20rem;
    }
    .control-box {
        width: 100%;
    }
    .meme-editor {
        flex-direction: column;
        width: 100%;
    }
    .search-line {
        padding: 0.8rem;
        width: 15rem;
        /* transform: translateX(20%); */
        transition: width 2s;
    }
    .search-bar .search-line {
        width: 250px;
    }
    .main-nav li:not(:first-child) {
        margin-inline-start: 0;
    }
    body.menu-open .main-nav {
        transform: translateY(100px);
    }
    nav {
        padding-left: 2em;
        padding-right: 2em;
    }
    .main-nav {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        opacity: 0.9;
        transform: translateY(-100%);
        /* max-height: 100vh; */
        /* transform: translateX(0%); */
        transition: all .8s;
    }
    .main-nav li a {
        width: 100vw;
        align-items: center;
        border-bottom: 1px solid #dcdcdc;
        background-color: #292929;
        z-index: 2;
        font-size: 1rem;
        transition: background-color .3s;
    }
    body.menu-open .screen {
        opacity: 1;
        visibility: visible;
    }
    body.menu-open .mobile-menu-close {
        z-index: 2;
    }
}